Repository kankaro/vite-react-ts-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint "**/*.css", vitest --run

test: initializing test setup
  src/__tests__/setup.ts
Due: prettier --write, eslint --fix, eslint

test: added testing file for App component
  src/pages/App/App.test.tsx
Due: prettier --write, eslint --fix, eslint, vitest --run

fix: code linting issue
  src/pages/App/index.tsx
Due: prettier --write, eslint --fix, eslint

fix: disable eslint `react/display-name` rule
  src/utils/loadable.tsx
Due: prettier --write, eslint --fix, eslint

chore: added options for `@typescript-eslint/parser` parser
  .eslintrc.cjs
Due: none

chore: include commitlint config file
  tsconfig.json
Due: prettier --write

chore(svg): added typescript logo svg
  src/assets/typescript.svg
Due: none

chore(deps): added node packages
  package-lock.json
  package.json
Due: prettier --write

refactor(component): added document head
  src/main.tsx
  src/pages/App/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(deps): added node package
  package-lock.json
  package.json
Due: prettier --write

refactor(linter): extend `no-restricted-imports` linting rule
  .eslintrc.cjs
Due: none

refactor(precommit): added a test runner command
  .lintstagedrc
Due: none

refactor(config): `resolve` settings removed in favor for `vite-tsconfig-paths`
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

refactor(precommit): run a test during `pre-commit` stage
  .husky/pre-commit
  .lintstagedrc
Due: none

chore: moved to `src/util` folder
  src/index.d.ts
Due: prettier --write, eslint --fix, eslint

refactor: added a store provider
  src/main.tsx
Due: prettier --write, eslint --fix, eslint

chore(routing): route component
  src/App.tsx
Due: prettier --write, eslint --fix, eslint

chore(component): removed the `App` component in favor for `Welcome` component
  src/pages/App/App.test.tsx
  src/pages/App/Loadable.tsx
  src/pages/Welcome/Loadable.tsx
  src/pages/Welcome/Welcome.test.tsx
  src/pages/Welcome/hooks/useActionDispatchers.ts
  src/pages/Welcome/hooks/useCounter.ts
  src/pages/Welcome/hooks/useStateSelectors.ts
  src/pages/Welcome/index.tsx
  src/pages/Welcome/slice/counterSlice.ts
  src/pages/Welcome/slice/counterState.ts
  src/pages/Welcome/slice/types.ts
  src/pages/Welcome/styles/Welcome.css
  src/pages/Welcome/styles/index.css
Due: prettier --write, eslint --fix, eslint, stylelint "**/*.css", vitest --run

chore(store): setup a state manager
  src/store/hooks.ts
  src/store/index.ts
  src/store/reducers.ts
Due: prettier --write, eslint --fix, eslint

chore(typescript): module declaration file
  src/utils/utils.d.ts
Due: prettier --write, eslint --fix, eslint

test(helper): added a test helper
  src/utils/test.utils.tsx
Due: prettier --write, eslint --fix, eslint

docs: update the docs for unit testing
  README.md
Due: prettier --write

chore(deps): bump vite from 5.2.0 to 5.3.1
  package-lock.json
  package.json
Due: prettier --write

chore(editor): vscode workspace settings
  .vscode/settings.json
Due: prettier --write

chore(deps): test coverage dependencies
  package-lock.json
  package.json
Due: prettier --write

test(config): setup test coverage
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

chore(git): addd vscode workspace settings, ignore test coverage files
  .gitignore
Due: none

refactor(linter): removed `no-restricted-imports linting rule in favor for custom hooks
  .eslintrc.cjs
Due: none

refactor(code): additional settings
  src/__tests__/setup.ts
Due: prettier --write, eslint --fix, eslint

refactor(code): enhanced code readability
  src/store/hooks.ts
  src/store/index.ts
  src/store/reducers.ts
Due: prettier --write, eslint --fix, eslint

refactor(code): code enhancement
  src/utils/test.utils.tsx
Due: prettier --write, eslint --fix, eslint

refactor(code): move the `BrowserRouter` component into `main.tsx`
  src/App.tsx
  src/main.tsx
Due: prettier --write, eslint --fix, eslint

test: co-locate all the test files into this directory
  src/pages/Welcome/__tests__/Welcome.test.tsx
  src/pages/Welcome/__tests__/counterSlice.test.ts
Due: prettier --write, eslint --fix, eslint, vitest --run

refactor(component): move the logic into the action reducer
  src/pages/Welcome/Welcome.test.tsx
  src/pages/Welcome/hooks/useActionDispatchers.ts
  src/pages/Welcome/hooks/useCounter.ts
  src/pages/Welcome/index.tsx
  src/pages/Welcome/slice/counterSlice.ts
Due: prettier --write, eslint --fix, eslint, vitest --run

chore(component): added `NotFoundPage` component
  src/assets/images/404/404-2.png
  src/assets/images/404/Group.png
  src/pages/NotFoundPage/Loadable.tsx
  src/pages/NotFoundPage/index.tsx
Due: prettier --write, eslint --fix, eslint

docs: added detailed instructions
  README.md
Due: prettier --write

chore(dependencies): bump some dev dependencies to the latest version
  package-lock.json
  package.json
Due: prettier --write

fix(docs): remove extra dot
  README.md
Due: prettier --write

fix(docs): typo error
  src/views/router.tsx
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint "**/*.css": any of: *.css
  vitest --run: any of: *.{test,spec}.{js,jsx,ts,tsx}
